.idea

# Django #
*.log
__pycache__
db.sqlite3
.idea/**/aws.xml
scrapping/__pycache__/
scraping_service/__pycache__/
 ../scrapping/tests/__pycache__/
 scrapping/migrations/
 scrapping/migrations/__pycache__/


# PyCharm #
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

.python-version

.gitignore

../db.sqlite3

 scraping_service/settings.py