body {
    background-color: #F0FFFF;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

input[type="text"], input[type="email"], textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

input[type="submit"] {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: white;
  border-style: ridge;
  color: black;
}

.header {
  text-align: center;
  padding: 20px;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 20px;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination a {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 3px;
  background-color: #f4f4f4;
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.pagination a:hover,
.pagination .current-page {
  background-color: #333;
  color: #fff;
}

.pagination .current-page {
  font-weight: bold;
}

.pagination span {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  color: #333;
}

.noaccountdiv {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.text-muted {
  font-size: 14px;
}

.text-muted a {
  color: blue;
  text-decoration: none;
}

.text-muted a:hover {
  text-decoration: underline;
}

.logout {
  text-align: center;
  margin-top: 20px;
}

.logout a {
  text-decoration: none;
  color: blue;
}
